# MSAL Configuration (client-side, no secrets)
NEXT_PUBLIC_MSAL_CLIENT_ID=""
NEXT_PUBLIC_MSAL_AUTHORITY="https://login.microsoftonline.com/common"
NEXT_PUBLIC_MSAL_REDIRECT_URI="http://localhost:3000"

# Prisma
DATABASE_URL="file:./db.sqlite"
